/* Required for full background image */
@font-face {
  font-family: Montello_DEMO;
  src: url('/fonts/Montello_DEMO.otf');
}

html,
body,
header,
.view {
  height: 100vh;
  background-color: white;
  font-family: Montello_DEMO;
  src: url('/fonts/Montello_DEMO.otf');
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}



h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

/*Eigen css */

.header-img {
  padding-top: 15%;
  padding-bottom: 5%;
}

header{
  position: relative;    
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
  color: white;
}

header h1{
  margin-bottom: 5%;
}
.section1{
  height: 350px;    
  margin-top: -5vw;
  background-color: white;  
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  ); 
}

.section2{
  height: 1000px;    
  margin-top: -5vw;
  background-color: #7f82a0;  
  clip-path: polygon(
    100% 0, 100% 80%, 0 100%, 0 21%
  );
}

.section3{
  height: 500px;   
  margin-top: 50px;  
  background-color: white;  
  clip-path: polygon(
    100% 0, 100% 86%, 0 69%, 0 0
  );
}

.section4{
  height: 900px;      
  background-color: #7f82a0;  
  clip-path: polygon(
    100% 28%, 100% 100%, 0 100%, 0 0
  );
}

.padded-title{
  padding-top: 200px;
}

.circle1,
.circle3{
  width: 190px;
  height: 190px;

  /* Backup background css */
  background: #7f82a0;  
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 150px;
  
  /* Background-image */
  background-image: url('/img/cirkel1.svg');
  
  margin: 0 auto;  
}

.circle1 img,
.circle3 img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px; /* Half the height */
  margin-left: -50px; /* Half the width */
 
}

.circle2 img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px; /* Half the height */
  margin-left: -75px; /* Half the width */
 
}

.circle2{
  width: 270px;
  height: 270px;

  /* Backup background css */
  background: #7f82a0; 
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 170px;
  /* Background-image */
  background-image: url('/img/cirkel1.svg');
  margin:0 auto;
}

/* SECTION 2 */
.section2{
  overflow: hidden;
}
.section2 .padding-top{
  padding-top: 15%;  
}
.section2 h1{  
  margin-bottom: 50px;
  width: 100%;
  margin-left: 16%;  
}
.container-fluid{
  max-width: 2000px;
}
.container-fluid .row{
  margin-left: 5%;
}
.lus img{  
  display: flex;
  align-items:center;
  margin: 0;
  width: 60%;
}
.bommas img {
  width: 100%;
  height: 100%;  
}
.special-link{
  margin-top: 60%;
  margin-left: 15%;
  width: 100%;  
}
.special-link a{ 
  color: white;
  text-decoration: underline;
}
.special-link h2{
  margin-top: 110%;
}


/* SECTION 3 */
.section3{
  color: #7f82a0;
}
.section3 h1{
  
  margin-bottom: 50px;
}
.section3 a{
  text-decoration: underline;
  color: #7f82a0;
}
.section3 a:hover{
  color: #6f7396;
}

/* SECTION 4 */
.section4 h1{
  padding-top: 30%;
  margin-bottom: 8%;
}
.section4 form,
.section4 form input,
.section4 form textarea {
  font-size: 25px;
}